.maclassebut {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formatroom {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  grid-template-rows: 1.4fr 0.6fr;
  gap: 0px 0px;
  grid-template-areas:
    "photohotelroom Hero-hotel-room"
    "reservation-section Hero-hotel-room";
}
.Hero-hotel-room {
  grid-area: Hero-hotel-room;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photohotelroom {
  grid-area: photohotelroom;

  width: 100%;
  height: 100%;

  -o-object-fit: cover;
  object-fit: cover;

  padding: 20px;
  margin: 10px;

  width: 100%;
  height: 100%;
}
.roomimg {
  width: 692px;
  height: 417px;
  border-radius: 20px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  -o-object-fit: cover;
  object-fit: cover;
}
.reservation-section {
  grid-area: reservation-section;
}
