<footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Images -->
    <section class="">
      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image shadow-1-strong rounded">
            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" style="width: 130px" />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image shadow-1-strong rounded">
            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/111.webp" style="width: 130px" />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image shadow-1-strong rounded">
            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/112.webp" style="width: 130px" />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image shadow-1-strong rounded">
            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/114.webp" style="width: 130px" />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image shadow-1-strong rounded">
            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/115.webp" style="width: 130px" />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image shadow-1-strong rounded">
            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/116.webp" style="width: 130px" />
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Images -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-body" href="https://github.com/Bnoure">By Nour-Eddine Benkerroum </a>
  </div>
  <!-- Copyright -->
</footer>
