<footer class="text-center">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Images -->
    <section class="">
      <% cities = ["Paris", "Marseille", "Lyon", "Toulouse", "Nice", "Nantes", "Strasbourg", "Montpellier", "Bordeaux", "Lille"] %>
      

      <% cities.each_slice(5).with_index do |city_group, index| %>
  <div class="row justify-content-center">
    <% city_group.each_with_index do |city, i| %>
      <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
        <div class="bg-image shadow-1-strong rounded">
          <a href="<%= "https://www.google.com/search?q=" + city + "&source=lnms&tbm=isch" %>" target="_blank">
            <img src="<%= "https://source.unsplash.com/1600x900/?france,city," + city.downcase %>" alt="<%= city %>" class="img-fluid" />
          </a>
        </div>
        <h5 class="text-center"><%= city %></h5>
      </div>
    <% end %>
  </div>
<% end %>
    </section>
    <!-- Section: Images -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">
    © 2024 Copyright:
    <a class="text-body" href="https://github.com/Bnoure">By Nour-Eddine Benkerroum </a>
  </div>
  <!-- Copyright -->
</footer>
