
<div class="container", style="gap: 66px;">
  <div class="imaghero">
    <%= image_tag("immeuble.png", class: "imb") %>
  </div>
  <div class="herotext">
    <h1 class="headline">Hôtel pour des <br>riches en émotions</h1>
    <h1 class="memorable">Moments mémorables</h1>
    <p class="subtitre">Nous avons <strong> plus de 200 chambres</strong> réparties à travers la France, avec des standards de chambre équivalents à des hôtels 5 étoiles.</p>
  </div>

  <%= render 'search' %>
</div>
