<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%# @hotels.each do |hotel| %>
<!--  <div class="col-md-4">
    <div class="thumbnail">

      <div class="caption">
        <h3><%#= hotel.name %></h3>
        <p><%#= hotel.address %></p>
        <p><%# hotel.each do |room| %></p>
          <p><%#= hotel.room.capacity %></p>
          <p><%#= hotel.room.price_per_nigh %></p>
        <%# end%>-->
<!--        <p><%#= link_to 'Show', hotel %></p>
      </div>
    </div>
  </div>
<%# end %>-->
<!---->
